python-docx
torch==2.5.1
tensorflow-gpu==2.11.0
transformers>=4.20.0,<4.48.0
scikit-learn>=1.0.0
datasets
nltk
pandas
huggingface_hub
accelerate==0.26.0
seaborn
tf-keras
torchvision>=0.15.0
numpy>=1.21.0,<1.24.0
optuna
